.box {
  display: inline-block;
  border: 2px solid black;
  padding: 2px;
}

.box.red {
  height: 100px;
  width: 100px;
  background-color: red;
}

.done {
  text-decoration: line-through;
}

.imp-btn{
	width: 15px;
	height: 15px;
	background-color: red; 
}
.important{
	font-weight: bold;
}
.undone-tasks{
	background-color: lightgrey;
	color:black;
	height: 20px;
	width: 100px;
	border: 2px solid black;
	text-align: center;
}